body {
   font-family: Roboto, sans-serif;
}

.exemplo {
   margin-bottom: 20px;
   background-color: black;
   width: 200px;
   height: 200px;
   border: 40px solid;
}

#exemplo-1 {
   border-image-source: url(../img/Estrelas\ Efeito\ 3D\ PNG\ Transparente\ Sem\ Fundo.png);
}

#exemplo-2 {
   border-image-source: linear-gradient(red, purple);
}